numpy==1.26.4
pandas==2.2.3
scipy==1.15.2
matplotlib==3.10.6
seaborn==0.13.2

scikit-learn==1.7.2
category-encoders==2.8.1
mlxtend==0.23.4

catboost==1.2.10
lightgbm==4.6.0

torch==2.2.2
torchvision==0.17.2
transformers==4.40.2

tqdm==4.67.3